body{
    color:aqua;
    background: -moz-linear-gradient( to left,white,gray , gray,white)
    
}

body {

    text-align: center;
}


h2{
    color: black;
}



p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1{
    color:#4F4F4F


}


p a{
    color:whitesmoke;
    text-decoration: none;
}

p a:hover{
    color:whitesmoke
    
}

img {

    width: 1000px;
    height: 1000px;

}
















